*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#banner{
    background-color: lightsalmon;
    background: url(./Imagen\ pegada.png);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 20vh;
}

#content{
    background-color: lightblue;
    width: 100vw;
    height: 80vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #text{
        background-color: lightgreen;
        width: 70%;
        margin: auto;
        padding: 2%;
        overflow-y: auto;
    }
    #buttons{
        background-color: lightgrey;
        width: 70%;
        margin: auto;
        margin-top: 2%;
        display: flex;
        justify-content: space-around;
        padding: 1%;
        button{
            padding: 1%;
            width: 20%;
            border-radius: 10px;
            border: none;
            background-color: lightsalmon;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }
    }
}

@trespy
